/*	24 COLUMN : RESPONSIVE GRID SYSTEM
	DEVELOPER : DENIS LEBLANC
	URL : http://responsive.gs
	VERSION : 3.0
	LICENSE : GPL & MIT */
/* 	SET ALL ELEMENTS TO BOX-SIZING : BORDER-BOX */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/scripts/boxsizing.htc);
  /*	If you need support for IE7 and lower make
  	sure the boxsizing.htc file is linked properly.
  	More info here:  https://github.com/Schepp/box-sizing-polyfill */ }

/*	MAIN CONTAINER
	Set the width to whatever you want the width of your site to be. */
.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0px 5%; }

/*	SELF CLEARING FLOATS - CLEARFIX METHOD */
.container:after,
.row:after,
.col:after,
.clr:after,
.group:after {
  content: "";
  display: table;
  clear: both; }

/* 	DEFAULT ROW STYLES
	Set bottom padding according to preference */
.row {
  padding-bottom: 0; }

/* DEFAULT COLUMN STYLES */
.col {
  display: block;
  float: left;
  width: 100%; }

@media (min-width: 768px) {
  .gutters .col {
    margin-left: 2%; }

  .gutters .col:first-child {
    margin-left: 0; } }
/*	COLUMN WIDTH ON DISPLAYS +768px
	You might need to play with media queries here to suite your design. */
@media (min-width: 768px) {
  .span_1 {
    width: 4.16666666667%; }

  .span_2 {
    width: 8.33333333333%; }

  .span_3 {
    width: 12.5%; }

  .span_4 {
    width: 16.6666666667%; }

  .span_5 {
    width: 20.8333333333%; }

  .span_6 {
    width: 25%; }

  .span_7 {
    width: 29.1666666667%; }

  .span_8 {
    width: 33.3333333333%; }

  .span_9 {
    width: 37.5%; }

  .span_10 {
    width: 41.6666666667%; }

  .span_11 {
    width: 45.8333333333%; }

  .span_12 {
    width: 50%; }

  .span_13 {
    width: 54.1666666667%; }

  .span_14 {
    width: 58.3333333333%; }

  .span_15 {
    width: 62.5%; }

  .span_16 {
    width: 66.6666666667%; }

  .span_17 {
    width: 70.8333333333%; }

  .span_18 {
    width: 75%; }

  .span_19 {
    width: 79.1666666667%; }

  .span_20 {
    width: 83.3333333333%; }

  .span_21 {
    width: 87.5%; }

  .span_22 {
    width: 91.6666666667%; }

  .span_23 {
    width: 95.8333333333%; }

  .span_24 {
    width: 100%; }

  .gutters .span_1 {
    width: 2.25%; }

  .gutters .span_2 {
    width: 6.5%; }

  .gutters .span_3 {
    width: 10.75%; }

  .gutters .span_4 {
    width: 15.0%; }

  .gutters .span_5 {
    width: 19.25%; }

  .gutters .span_6 {
    width: 23.5%; }

  .gutters .span_7 {
    width: 27.75%; }

  .gutters .span_8 {
    width: 32.0%; }

  .gutters .span_9 {
    width: 36.25%; }

  .gutters .span_10 {
    width: 40.5%; }

  .gutters .span_11 {
    width: 44.75%; }

  .gutters .span_12 {
    width: 49.0%; }

  .gutters .span_13 {
    width: 53.25%; }

  .gutters .span_14 {
    width: 57.5%; }

  .gutters .span_15 {
    width: 61.75%; }

  .gutters .span_16 {
    width: 66.0%; }

  .gutters .span_17 {
    width: 70.25%; }

  .gutters .span_18 {
    width: 74.5%; }

  .gutters .span_19 {
    width: 78.75%; }

  .gutters .span_20 {
    width: 83.0%; }

  .gutters .span_21 {
    width: 87.25%; }

  .gutters .span_22 {
    width: 91.5%; }

  .gutters .span_23 {
    width: 95.75%; }

  .gutters .span_24 {
    width: 100%; } }
.header_menu {
  background: white;
  border-bottom: 1px solid #D8D8D8;
  padding: 15px 0px; }
  .header_menu .header_menu_wrapper {
    padding: 0px; }
  .header_menu ul {
    margin: 0px;
    padding: 0px;
    float: right;
    padding-right: 5%; }
    .header_menu ul li {
      list-style: none;
      margin: 0px;
      padding: 0px;
      float: left; }
      .header_menu ul li a {
        padding: 0px 10px 0px 10px;
        text-decoration: none;
        color: #939393;
        font-size: 14px; }
        .header_menu ul li a:hover {
          color: #7DCB9B; }
        .header_menu ul li a span {
          font-weight: 600;
          color: #7DCB9B; }
  .header_menu .branding {
    padding-left: 5%; }
    .header_menu .branding h1 {
      font-size: 0px;
      line-height: 0px;
      margin: 0px;
      display: block;
      height: 23px;
      width: 139px;
      background-image: url("../images/logo.png"); }

.is-sticky #sticky {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
  z-index: 9999999 !important;
  top: 0px !important; }

.mobile_toggle img {
  width: 30px;
  height: auto;
  float: right;
  opacity: .5;
  display: none;
  margin-right: 5%; }

@media (max-width: 850px) {
  .menu {
    margin-top: -30px;
    width: 100%; }

  .desktop_menu {
    display: none; }

  .mobile_menu {
    margin-top: 10px;
    background: white;
    z-index: 99999999999;
    position: relative;
    display: none;
    z-index: 9999999999;
    position: relative; }

  .mobile_toggle img {
    display: block; }

  .header_menu ul {
    width: 100%; }
    .header_menu ul li {
      width: 100%;
      display: block; }
      .header_menu ul li a {
        padding: 15px 0px 15px 20px;
        border-top: 1px solid #F9F9F9;
        width: 100%;
        display: block;
        text-align: center; } }
.header {
  background: url("../images/desk_background.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid #D8D8D8; }
  .header .header_wrapper {
    width: 60%;
    padding: 160px 0px 220px 0px; }
    .header .header_wrapper .video a {
      text-indent: -99999999;
      line-height: 0px;
      margin: 0px;
      font-size: 0px;
      display: block;
      float: right;
      margin-right: 50px; }
      .header .header_wrapper .video a img {
        display: block;
        margin: 0 auto; }
    .header .header_wrapper h2 {
      font-size: 55px;
      line-height: 55px;
      margin: 0px 0px 15px 0px;
      text-transform: uppercase;
      color: black; }
    .header .header_wrapper p {
      width: 80%;
      font-size: 17px;
      line-height: 26px;
      color: #585858; }
      .header .header_wrapper p a {
        display: block;
        margin-top: 20px;
        color: #4D8364; }
    .header .header_wrapper .button {
      width: 70%; }

@media (max-width: 1220px) {
  .header .header_wrapper {
    width: 80%; }
    .header .header_wrapper h2 {
      font-size: 45px;
      line-height: 45px; }
    .header .header_wrapper p {
      width: 100%; } }
@media (max-width: 800px) {
  .header .header_wrapper {
    padding: 60px 0px 150px 0px; }
    .header .header_wrapper .video a {
      float: none;
      margin: 0 auto;
      margin-bottom: 40px; }
    .header .header_wrapper h2 {
      text-align: center; }
    .header .header_wrapper p {
      text-align: center; }
    .header .header_wrapper .button {
      width: 100%; } }
@media (max-width: 400px) {
  .header .header_wrapper {
    padding: 30px 0px 150px 0px; }
    .header .header_wrapper .video a {
      float: none;
      margin: 0 auto;
      margin-bottom: 15px; }
      .header .header_wrapper .video a img {
        width: 55%;
        height: auto; }
    .header .header_wrapper h2 {
      font-size: 35px;
      line-height: 35px; }
    .header .header_wrapper p {
      font-size: 14px;
      line-height: 22px; }
    .header .header_wrapper .button {
      width: 100%; } }
.archive_header {
  background: #F9F9F9;
  border-bottom: 1px solid #D8D8D8;
  padding: 30px 0px;
  text-align: center; }
  .archive_header h3 {
    font-weight: 400;
    font-size: 30px;
    color: #939393;
    margin: 0px; }

.app_image {
  background: #F9F9F9;
  border-bottom: 1px solid #D8D8D8; }
  .app_image .app_image_wrapper img {
    margin-top: -100px; }
  .app_image .app_image_wrapper p {
    color: #939393;
    width: 80%;
    padding: 40px 0px 60px 0px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px; }

.individual {
  background: url("../images/individual.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid #E9E9E9;
  margin-top: -17px; }
  .individual .individual_wrapper {
    position: relative; }
    .individual .individual_wrapper .individual_brand {
      display: block;
      position: absolute;
      bottom: 0px; }
      .individual .individual_wrapper .individual_brand .individual_brand_link {
        color: white;
        text-decoration: none;
        font-size: 14px;
        display: block;
        width: 100%;
        margin-bottom: -5px; }
        @media (max-width: 450px) {
          .individual .individual_wrapper .individual_brand .individual_brand_link {
            text-align: center; } }
      .individual .individual_wrapper .individual_brand img {
        display: block;
        margin: 0px; }
    .individual .individual_wrapper .quote {
      color: white;
      font-size: 25px;
      line-height: 35px;
      padding: 260px 0px 150px 0px;
      float: right; }
      @media (max-width: 780px) {
        .individual .individual_wrapper .quote {
          font-size: 18px;
          line-height: 24px;
          margin-top: 80px;
          margin-bottom: 120px; } }
      @media (max-width: 480px) {
        .individual .individual_wrapper .quote {
          margin-bottom: 40px; } }
      .individual .individual_wrapper .quote p {
        margin-bottom: 10px; }
    .individual .individual_wrapper .quote_reference {
      font-size: 16px;
      line-height: 25px; }
      @media (max-width: 450px) {
        .individual .individual_wrapper .quote_reference {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 30px; } }
      .individual .individual_wrapper .quote_reference span {
        display: block; }

.demos {
  background: #E9E9E9;
  border-bottom: 1px solid #D8D8D8;
  padding: 120px 0px; }
  @media (max-width: 780px) {
    .demos {
      padding: 80px 0px; } }
  .demos img {
    width: 100%;
    height: auto;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); }
    @media (max-width: 780px) {
      .demos img {
        margin-bottom: 10px; } }
  .demos h3 {
    text-align: center;
    margin: 0px;
    color: #939393; }
  .demos a {
    text-decoration: none;
    opacity: .9; }
    .demos a:hover {
      opacity: 1; }
    @media (max-width: 780px) {
      .demos a {
        margin-bottom: 40px;
        display: block; } }
  .demos p {
    text-align: center;
    margin: 0px;
    color: #939393; }

.create_screens {
  border-bottom: 1px solid #D8D8D8;
  padding: 100px 0px; }
  @media (max-width: 950px) {
    .create_screens {
      padding: 50px 0px; } }
  .create_screens .create_screens_wrapper {
    position: relative; }
  .create_screens img {
    margin: 0 auto;
    display: block; }
  .create_screens .create_screens_text {
    position: absolute;
    top: 0px;
    width: 50%;
    right: 0px; }
    @media (max-width: 950px) {
      .create_screens .create_screens_text {
        display: block;
        float: none;
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 30px; } }
    .create_screens .create_screens_text h2 {
      margin: 0px 0px 10px 0px;
      color: #7DCB9B;
      font-size: 30px;
      font-weight: normal; }

.pricing {
  background: #F9F9F9;
  border-bottom: #D8D8D8;
  padding: 80px; }
  @media (max-width: 950px) {
    .pricing {
      padding: 5%; } }
  .pricing h3 {
    color: #7DCB9B;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    margin: 0px; }
  .pricing p {
    text-align: center;
    margin: 0px;
    color: #939393; }
  .pricing .pricing_item {
    background: white;
    border: 1px solid #D8D8D8;
    padding: 50px 5%;
    margin-top: 70px; }
    @media (max-width: 950px) {
      .pricing .pricing_item {
        margin-top: 30px; } }
    .pricing .pricing_item h2 {
      text-align: center;
      font-weight: normal;
      margin: 0px;
      color: #7DCB9B; }
    .pricing .pricing_item h4 {
      text-align: center;
      font-weight: 300;
      font-size: 30px;
      color: #939393;
      margin: 20px 0px;
      border-top: 1px solid #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
      padding: 20px 0px; }
    .pricing .pricing_item ul {
      margin: 0px;
      padding: 0px; }
      .pricing .pricing_item ul li {
        margin: 0px;
        padding: 0px;
        list-style: none;
        color: #939393;
        font-size: 14px;
        text-align: center;
        margin-bottom: 7px; }
    .pricing .pricing_item p {
      font-weight: bold;
      margin-bottom: 20px;
      color: black; }
    .pricing .pricing_item a {
      margin-top: 40px; }

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit] {
  background: #7DCB9B;
  padding: 30px;
  border: #4D8364;
  box-shadow: none;
  color: white;
  text-shadow: 0px; }

.phone {
  background: url("../images/phone.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid #484848;
  margin-top: -40px;
  padding-top: 250px;
  padding-bottom: 150px; }
  @media (max-width: 700px) {
    .phone {
      background: url("../images/phone.png") no-repeat left top;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-top: 0px;
      padding: 50px 0px; } }
  .phone p {
    margin: 0px 0px 15px 0px;
    color: white;
    font-size: 22px;
    font-weight: 200; }
    @media (max-width: 700px) {
      .phone p {
        line-height: 28px; } }
  .phone h2 {
    width: 45%;
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0px; }
    @media (max-width: 700px) {
      .phone h2 {
        font-size: 25px;
        line-height: 30px;
        width: 100%; } }

.footer {
  background: #484848;
  padding-bottom: 10px; }
  .footer .links {
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center; }
    .footer .links li {
      margin: 0px;
      padding: 0px;
      display: inline-block;
      list-style: none; }
      .footer .links li a {
        color: #D8D8D8;
        text-decoration: none;
        font-size: 20px;
        padding: 0px 15px; }
        @media (max-width: 500px) {
          .footer .links li a {
            font-size: 13px; } }
        .footer .links li a:hover {
          color: #7DCB9B; }
  .footer .social {
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 60px; }
    .footer .social li {
      margin: 0px;
      padding: 0px;
      display: inline-block;
      list-style: none; }
      .footer .social li img {
        height: 70px;
        width: 70px;
        opacity: .8; }
        @media (max-width: 500px) {
          .footer .social li img {
            height: 50px;
            width: 50px; } }
        .footer .social li img:hover {
          opacity: 1; }
  .footer p {
    color: #939393;
    text-align: center;
    font-size: 13px;
    margin-bottom: 80px; }
    @media (max-width: 500px) {
      .footer p {
        font-size: 10px; } }

.search {
  padding: 50px 0px;
  background: #F9F9F9;
  border-bottom: 1px solid #e5e5e5; }
  .search input#s {
    width: 100%;
    padding: 15px 2%; }
    .search input#s::-webkit-input-placeholder {
      font-weight: 200; }
    .search input#s:-moz-placeholder {
      /* Firefox 18- */
      font-weight: 200; }
    .search input#s::-moz-placeholder {
      /* Firefox 19+ */
      font-weight: 200; }
    .search input#s:-ms-input-placeholder {
      font-weight: 200; }
  .search form#searchform {
    position: relative; }
  .search form#searchform input#searchsubmit {
    background: url("../images/search_icon.png");
    opacity: .5;
    width: 35px;
    height: 33px;
    box-shadow: none;
    border: 0px;
    padding: 0px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    /* Hack for IE */
    text-indent: -9999px;
    font-size: 0px;
    line-height: 0px; }
    .search form#searchform input#searchsubmit:hover {
      opacity: 1; }

.categories {
  padding: 45px 7% 45px 7%;
  border-bottom: 1px solid #e5e5e5; }
  .categories h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    display: block; }
  .categories h2 {
    font-size: 25px;
    line-height: 32px;
    font-weight: 400;
    margin: 0px 30px 5px 0px;
    color: #939393;
    display: block; }
  .categories .citation {
    margin: 0px;
    font-size: 14px;
    font-style: italic;
    color: #939393; }
  .categories p {
    line-height: 26px; }
  .categories .category_columns {
    margin: 0px 0px 0px 0px;
    padding: 0px; }
    .categories .category_columns h3 {
      margin: 0 0 20px 85px;
      font-weight: 400;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px; }
    .categories .category_columns li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      width: 50%;
      float: left; }
      .categories .category_columns li a {
        padding: 7px 0px;
        display: block;
        text-align: left;
        text-decoration: none;
        color: #7DCB9B; }

.guides {
  padding: 60px 0px;
  background: #F9F9F9;
  border-bottom: 1px solid #e5e5e5; }
  .guides img {
    border: 1px solid #e5e5e5;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); }
    .guides img:hover {
      box-shadow: 0px; }

.posts {
  padding: 50px 0px 150px 0px; }
  .posts .col {
    margin-bottom: 50px; }
  .posts .col:nth-child(5n+4) {
    margin-left: 0px; }
  .posts img {
    border: 1px solid #D8D8D8; }
  .posts h2 {
    margin: 0px;
    font-weight: 500;
    margin-bottom: 0px; }
  .posts h4 {
    margin: 0px;
    font-weight: 500;
    font-size: 15px;
    color: #939393; }
  .posts p {
    color: #939393;
    margin-bottom: 5px;
    margin-top: 6px;
    font-size: 14px; }
  .posts a {
    text-decoration: none;
    color: #939393;
    line-height: 32px; }
    .posts a:visited {
      color: #939393; }
  .posts a.more-link {
    color: #7DCB9B;
    text-decoration: none;
    line-height: inherit; }
    .posts a.more-link:visited {
      color: #7DCB9B; }

.single-learn-article {
  padding: 20px 0px 150px 0px;
  background: #F9F9F9; }
  .single-learn-article .single-learn-article_wrapper {
    width: 60%; }
    .single-learn-article .single-learn-article_wrapper .back_learn {
      text-align: center;
      display: block;
      width: 100%;
      margin-bottom: 40px; }
    .single-learn-article .single-learn-article_wrapper .wp-post-image {
      width: 100%;
      height: auto;
      border: 1px solid #D8D8D8; }
    .single-learn-article .single-learn-article_wrapper .entry-title {
      font-weight: 400;
      margin-bottom: 40px;
      margin-top: 0px;
      color: #7a7a7a;
      text-align: center; }
    .single-learn-article .single-learn-article_wrapper .entry-meta {
      color: #939393;
      margin-bottom: 0px;
      text-align: center; }
      .single-learn-article .single-learn-article_wrapper .entry-meta a {
        color: #939393;
        text-decoration: none; }
    .single-learn-article .single-learn-article_wrapper h4 {
      font-size: 22px;
      line-height: 35px;
      font-weight: 400;
      color: #939393; }
    .single-learn-article .single-learn-article_wrapper p {
      color: #939393; }
    .single-learn-article .single-learn-article_wrapper a {
      color: #7DCB9B;
      font-size: 14px;
      text-decoration: none; }
    @media (max-width: 750px) {
      .single-learn-article .single-learn-article_wrapper {
        width: 90%; } }

.post_list_column h2.post_list_header {
  font-size: 20px;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: block;
  width: 85%; }

.post_list {
  margin: 0px;
  padding: 0px;
  width: 85%; }
  .post_list li {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .post_list li a {
      color: #939393;
      padding: 4px 0px;
      display: block; }
      .post_list li a:visited {
        color: #939393; }

.archive .posts {
  padding-top: 30px; }
  .archive .posts .col:nth-child(5n+2)::after {
    content: '.';
    color: white;
    line-height: 0px;
    font-size: 0px;
    display: block;
    width: 100%;
    clear: both; }
  .archive .posts .col:nth-child(5n+3) {
    margin-left: 0%;
    width: 49%; }
  .archive .posts .col:nth-child(5n+4) {
    margin-left: 2%;
    width: 48%; }

.archive .back_learn a {
  color: #7DCB9B;
  margin: 0px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block; }
  .archive .back_learn a:visited {
    color: #7DCB9B; }

body {
  font-family: 'Open Sans', sans-serif; }

a:visited {
  color: inherit; }

.button {
  display: block;
  width: 100%;
  padding: 20px;
  background: #7DCB9B;
  border: 1px solid #4D8364;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none; }
  .button:hover {
    background: #6bc48d;
    color: white; }
  .button:visited {
    color: white; }
