@import 'grid';
@import 'color';

@import 'header';
@import 'page';
@import 'footer';
@import 'learn';


body {
	font-family: 'Open Sans', sans-serif;
}

a:visited {
	color: inherit;
}

.button {
	display: block;
	width: 100%;
	padding: 20px;
	background: $green;
	border: 1px solid $darkgreen;
	border-radius: 2px;
	color: white;
	text-align: center;
	text-decoration: none;

	&:hover {
		background: darken($green, 5%);
		color: white;
	}

	&:visited {
		color: white;
	}
}